<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>employeedetalis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>controller.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Main1</display-name>
    <servlet-name>Main1</servlet-name>
    <servlet-class>controller.Main1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main1</servlet-name>
    <url-pattern>/Main1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Main2</display-name>
    <servlet-name>Main2</servlet-name>
    <servlet-class>controller.Main2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main2</servlet-name>
    <url-pattern>/Main2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>m1</display-name>
    <servlet-name>m1</servlet-name>
    <servlet-class>controller.m1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m1</servlet-name>
    <url-pattern>/m1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aa</display-name>
    <servlet-name>aa</servlet-name>
    <servlet-class>controller.aa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aa</servlet-name>
    <url-pattern>/aa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ee</display-name>
    <servlet-name>ee</servlet-name>
    <servlet-class>controller.ee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ee</servlet-name>
    <url-pattern>/ee</url-pattern>
  </servlet-mapping>
</web-app>